*{
  margin:0
}
.App{
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.app_headerImage{
 
  width: 100px;  
  height: 80px;  
  object-fit: contain;


}
.app_headerImageone{
 
  width: 100px;  
  height: 80px;  
  object-fit: contain;
  margin-left: 610px;

}
.app_header{
background-color:rgb(231, 189, 154);
padding: 10px;
object-fit: contain;
border-bottom: 1px solid rgb(197, 207, 218);
display: flex;
justify-content: space-between;
height: 10vh;

}

.app__signup{
  display: flex;
  flex-direction: column;
}
.app__posts{
  padding:20px
}
